.gamearea {
	width: 390px;
	height: 390px;
	border: 1px solid black;
	border-radius: 10px;
	background: #000;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(6, 1fr);
	margin-inline: auto;
	margin-bottom: 20px;
	padding: 20px;
}
